<!DOCTYPE html>

<html>
  <head>
    <title>Home - Umbrella or Slipper?</title>
    <link rel="stylesheet" href="/css/about.css">
  </head>
  <body>
  {{>header}}
    <div class="main-content">
      <h1>{{title}}</h1>
    </div>
  {{>footer}}
  </body>

</html>